<div class="container-small-card">
    <div class="small-card-photo">
        <img src="https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="" height="200px">
    </div>

    <div class="small-card-title">
        <h1>
            <a href="#"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ullam laudantium deleniti doloribus nisi excepturi, sint et hic? Accusamus fugit natus itaque at architecto iusto odit. </a>
        </h1>
    </div>
</div>