<div class="container">
    <div class="container-header">
        <app-menu-bar></app-menu-bar>
    </div>
   <app-menu-title></app-menu-title>
    <div class="articles-container">
        <div class="articles-main">
            <app-big-card 
            photoCover="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80"
            cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere, odio molestie volutpat aliquam, mi tellus scelerisque ante, a pellentesque neque velit sit amet orci. Fusce vitae imperdiet erat."
            ></app-big-card>

            <app-big-card 
            photoCover="https://plus.unsplash.com/premium_photo-1661882403999-46081e67c401?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2029&q=80"
            cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere, odio molestie volutpat aliquam, mi tellus scelerisque ante, a pellentesque neque velit sit amet orci. Fusce vitae imperdiet erat."
            ></app-big-card>
            
        </div>

        <div class="articles-others">
        <app-small-card
        photoCover="https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80"
        cardTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere, odio molestie volutpat aliquam"
        ></app-small-card>

        <app-small-card
        photoCover="https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80"
        cardTitle="Praesent lobortis eros eget turpis bibendum mollis. Pellentesque vel pretium sem."
        ></app-small-card>

        <app-small-card
        photoCover="https://images.unsplash.com/photo-1569396116180-210c182bedb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1769&q=80"
        cardTitle=" Nam vitae porta risus. Donec dignissim ex justo, vel molestie enim malesuada et. "
        ></app-small-card>
        </div>
    </div> 
</div>
