<div class="container-menu-bar">
    <div class="container-menu-bar-img">
        <img src="https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1789&q=80" alt="">
    </div>

    <ul>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Articles</a></li>
    </ul>

    <ul class="menubar-links-social">
        <li class="social-link"><a href="https://www.linkedin.com/in/isabelly-costa-silva-1b775b241/" target="_blank">LinkedIn</a></li>
        <li class="social-link"><a href="https://github.com/isa-csilva" target="_blank">GitHub</a></li>
    </ul>
</div>